.bg {
    -fx-background-color : linear-gradient(#7211f0, #ff9f40);
}
.img-view{
    -fx-background-radius : 50% ;
    -fx-text-decoration: none;
    -fx-background-color: rgba(255,255,255,0.3);
}
.btn-menu {
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
}
.btn-menu:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}
.btn-menu:focused {
    -fx-background-color: rgba(0,0,0,0.3);
    -fx-border-width: 0px 0px 0px 4px;
    -fx-border-color: #fff;
}
.btn-quit {
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
}